* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.5;
  }
  
  header {
    background-color: #fff;
    padding: 20px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 960px;
    margin: 0 auto;
  }
  
  nav ul {
    list-style: none;
    display: flex;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  nav a {
    text-decoration: none;
    color: #333;
    font-weight: 700;
    text-transform: uppercase;
  }
  
  section {
    max-width: 960px;
    margin: 0 auto;
    padding: 80px 0;
  }
  
  #hero {
    background-image: url('hero-bg.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
  }
  
  .hero-content {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .hero-content h1 {
    font-size: 48px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  }
  
  .hero-content p {
    font-size: 24px;
    margin-bottom: 40px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  }
  
  button {
    background-color: #ff4b2b;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    transition: all 0.2s ease;
  }
  
  button:hover {
    background-color: #d6341d;
    cursor: pointer;
  }
  
  #features {
    background-color: #f5f5f5;
    text-align: center;
  }
  
  #features h2 {
    font-size: 36px;
    margin-bottom: 40px;
  }
  
  .feature {
    max-width: 300px;
    margin: 0 auto;
  }
  
  .feature img {
    width: 100%;
    border-radius: 50%;
    margin-bottom: 20px;
  }
  
  .feature h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .feature p {
    margin-bottom: 30px;
  }
  
  .animation {
    background-color: #333;
    color: #fff;
    padding: 80px 0;
    text-align: center;
  }
  
  .animation p {
    font-size: 36px;
    margin-bottom: 40px;
    opacity: 0;
    transition: opacity 0.5s ease;
  }
  
  .animation p.animated {
    opacity: 1;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
  }
  

  .social-links a {
    font-size: 2em;
  }

  body {
    background-image: url('/pictures/flower_of_life.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }